body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT336xNVgP5439pDZMyrgxYyfUfDOr3z9DO-Q&usqp=CAU");
  background-repeat: no-repeat;
  background-size: 100%;
}
.hero {
  background-color: rgb(243, 26, 11);
  text-align: center;
  color: white;
}
.tile-black {
  background-color: rgb(230, 122, 122);
  color: whitesmoke;
}

.tile-red {
  background-color: rgb(230, 122, 122);
  color: white;
}

.tile-gray {
  background-color: rgb(230, 122, 122);
  color: whitesmoke;
}

.tile-gray-light {
  background-color: rgb(230, 122, 122);
  color: whitesmoke;
}

.buttons {
  margin-top: 20px;
  padding: auto;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
